<%- include('../partials/header'); -%>

<h1>Blog Posts</h1>

<h3>
    <% if (response.status != null) { %>
        <em><%= response.status %></em>
    <% } %>
</h3>

<div class="row">
    <div class="col-sm-12" style="margin-bottom:10px;">
        <a href="/add_posts" type="button" class="btn btn-default">New Post</a>
        <a href="/api/posts/clear_posts" button type="submit" id="inputSubmit" class="btn btn-default">Clear All Posts</a>
    </div>
</div>

<!--List all the posts-->
<% if (response.all_posts != null) { response.all_posts.forEach(function(post) { %>
    <div class="col-sm-4 col-md-4">
        <div class="thumbnail">
            <img src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTkyIiBoZWlnaHQ9IjIwMCIgdmlld0JveD0iMCAwIDE5MiAyMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzEwMCV4MjAwCkNyZWF0ZWQgd2l0aCBIb2xkZXIuanMgMi42LjAuCkxlYXJuIG1vcmUgYXQgaHR0cDovL2hvbGRlcmpzLmNvbQooYykgMjAxMi0yMDE1IEl2YW4gTWFsb3BpbnNreSAtIGh0dHA6Ly9pbXNreS5jbwotLT48ZGVmcz48c3R5bGUgdHlwZT0idGV4dC9jc3MiPjwhW0NEQVRBWyNob2xkZXJfMTcyYWQ2ZmYwZmQgdGV4dCB7IGZpbGw6I0FBQUFBQTtmb250LXdlaWdodDpib2xkO2ZvbnQtZmFtaWx5OkFyaWFsLCBIZWx2ZXRpY2EsIE9wZW4gU2Fucywgc2Fucy1zZXJpZiwgbW9ub3NwYWNlO2ZvbnQtc2l6ZToxMHB0IH0gXV0+PC9zdHlsZT48L2RlZnM+PGcgaWQ9ImhvbGRlcl8xNzJhZDZmZjBmZCI+PHJlY3Qgd2lkdGg9IjE5MiIgaGVpZ2h0PSIyMDAiIGZpbGw9IiNFRUVFRUUiLz48Zz48dGV4dCB4PSI3MC4wNTQ2ODc1IiB5PSIxMDQuNTYwOTM3NSI+MTkyeDIwMDwvdGV4dD48L2c+PC9nPjwvc3ZnPg=="                alt="logo"
                style="height:250px;width:100%;display:block"
                >
            <div class="caption" style="overflow:hidden">
                <h3><%= post.title %></h3>
                <p><%= post.content %></p>
                <p><a href="/api/posts/<%= post._id %>" class="btn btn-primary" role="button">Read</a></p>
            </div>
        </div>
    </div>

<% }) } %>

<%- include ('../partials/footer'); -%>